<!--<!DOCTYPE html>
<link href="../static/style.css" rel="stylesheet" />
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Delete Restaurant</title>
</head>
<body>
    
    <h1>Are you sure you want to delete {{i.name}}</h1>
    <form action="{{url_for('deleteRestaurant',restaurant_id=i.id)}}" method="post">

        <input type="submit" value="Delete" />
    </form>
    <a href="{{url_for('showRestaurants')}}">Cancel</a>
</body>
</html>-->

{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete {{i.name}}? </h2>

<form action="#" method='post'>

    <button type="submit" class="btn btn-default delete" id="submit" type="submit">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
    </button>
    

</form>
<a href="{{url_for('showRestaurants')}}">
    <button class="btn btn-default delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    </button>
</a>

{% endblock %}