<html>
<head>
<title>resume</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="static/style.css" rel="stylesheet">
<script src="static/jQuery.js"></script>
<script src="static/helper.js"></script>
</head>
<body>
<div id="main">
 <div id="header" class="center-content">
  <ul id="topContacts" class="flex-box"></ul>
 </div>
 <div style="clear: both;"></div>
 <div id="workExperience" class="gray">
      <h2>Work Experience</h2>
    </div>
    <!--<div id="projects">
      <h2>Projects</h2>
    </div>-->
</div>
<script src="static/resumeBuilder.js"></script>
</body>
</html>